.sidebar {
    position: static;
    float: left;
    margin-top: 350px;
    width: 240px;
    background: #f5f7f9;
    box-shadow: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}
