.list-item {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.list-item-wrap {
    display: flex;
}

.list-item-wrap .list-item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-item-wrap .list-item-meta {
    display: flex;
    align-items: center;
}

.list-item-wrap .list-item-meta-title {
    padding-left: 10px;
    padding-bottom: 0;
}

.list-item-wrap .list-item-content {
    text-indent: 2em;
}

.list-item-wrap .list-item-action {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.list-item-wrap .list-item-action li {
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    padding: 0 8px;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.list-item-wrap .list-item-action li:nth-child(1) {
    padding-left: 0;
}