.menu-item {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .menu-item {
        margin-top: 10px;
    }
}

.menu-item a {
    display: block;
    font-size: 13px;
    line-height: inherit;
    border-bottom: 1px solid transparent;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    position: relative;
    box-sizing: border-box;
    padding: 5px 20px;
    text-align: left;
    transition-property: background-color;
}

.menu-item a:hover, .menu-item-active a {
    background: #f9f9f9;
    border-bottom-color: #fff;
}

.menu-item-active a:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bbb;
}

.menu-item .fa {
    margin-right: 5px;
}

.use-motion .menu-item {
    opacity: 0;
}